footer(role="contentinfo")
  .container
    .row
      .col-4.columna1
        p.footer_copirights © Copyright 2018 Textalytic - All Rights Reserved
      .col-4.columna2
        a(href="").facebook
          i.icon.icon-facebook-squared
        a(href="").twitter
          i.icon.icon-twitter-1
        a(href="").gplus
          i.icon.icon-gplus
        a(href="")
          i.icon.icon-mail
        a(href="")
          i.icon.icon-skype
      .col-4.columna3
        p.footer_copirights
          a(href="#").footer_link Privacy Policy
          spin   |  
          a(href="#").footer_link Terms & Conditions
  