footer(role="contentinfo")
  .container
    .row
      .col-4.footer__colum1
        p.footer_copirights © Copyright 2018 Textalytic - All Rights Reserved
      .col-4.footer__colum2
        a(href="").footer__icons
          i.icon.icon-facebook-squared
        a(href="").footer__icons
          i.icon.icon-twitter-1
        a(href="").footer__icons
          i.icon.icon-gplus
        a(href="").footer__icons
          i.icon.icon-mail
        a(href="").footer__icons
          i.icon.icon-skype
      .col-4.footer__colum3
        p.footer_copirights
          a(href="#").footer_link Privacy Policy
          spin   |  
          a(href="#").footer_link Terms & Conditions
  
