body{
  background: rgba(2,40,145,1);
  background: -moz-linear-gradient(left, rgba(2,40,145,1) 0%, rgba(17,118,176,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,40,145,1)), color-stop(100%, rgba(17,118,176,1)));
  background: -webkit-linear-gradient(left, rgba(2,40,145,1) 0%, rgba(17,118,176,1) 100%);
  background: -o-linear-gradient(left, rgba(2,40,145,1) 0%, rgba(17,118,176,1) 100%);
  background: -ms-linear-gradient(left, rgba(2,40,145,1) 0%, rgba(17,118,176,1) 100%);
  background: linear-gradient(to right, rgba(2,40,145,1) 0%, rgba(17,118,176,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022891', endColorstr='#1176b0', GradientType=1 );
}

/* VISTA PRINCIPAL */

.imagen_fondo{
  background-size:      contain;
  background-position:  center center;
}

.content__container__col{
  margin-top:           100px;
}

.main__tittle{
  color:            #fff;
  font-size:        2.8em;
  font-weight:      300;
}

.main__lead{
  margin-top:       25px;
  margin-bottom:    35px;
  font-size:        1.4em;
  line-height:      1.7em;
  font-weight:      300;
  color:            #fff;
}

.col--button{
  border-radius:      .25rem;
  text-decoration:    none;
  background-color:   #3ecf8e;
  padding:            14px 40px;
  border:             2px solid rgba(255,255,255,.85);
  color:              #fff;
  font-size:          13px;
  font-weight:        600;
  text-transform:     uppercase;
  transition:         .2s ease-in;
  &:hover{
    text-decoration:    none;
    background-color: #fff;
    color:            #1176b0
    }
}

.content__container__col-img{
  @extend .imagen_fondo;
  background-image:     url("../img/banner/land.svg");
  
}

/* CONTENEDOR DE 3 LOGOS */


.container__text{
  background-color: rgb(241, 239, 237);
  padding: 30px 100px;
  margin-top: 140px;
  border-radius: 9px;
  box-shadow: 0 4px 9px 0 rgba(23,28,33,.06);
}
  
.preamble{
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.preamble__tittle{
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 400;
  margin-bottom: .7125em;
  color: #47495a;
  box-sizing: border-box;
}

.preamble__lead{
  @extend .main__lead;
  color: #47495a;    
}

.card{
  border-color:     #f1efed;
  background-color: #f1efed;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  transition:         .2s ease-in;
  &:hover{
    border-radius: 5px;
    box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }
}

.card__logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 50px;
  height: 50px;
}

.card__tittle{
  margin-top: 15px;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: .4em;
  color: #6b90c0;
  font-weight: bold;
}

.card__lead{
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: .4em;
  color: #6b90c0;
  font-weight: 400;
}

/* TERCERA SECCION */

.icon-ok{
  color: green;
}

.seccion{
  background-color: rgb(241, 239, 237);
}

.container__tercero{
  padding: 30px 30px;
  margin-top: 140px;
}

.text__tittle{
  font-size: 2em;
  margin-bottom: .7125em;
  color: #6b90c0;
  font-weight: 400;
}

.text__lead{
  text-align: left;
  font-size: 1.4em;
  line-height: 1.7em;
  font-weight: 300;
}

.list__element{
  padding: 6px 0;
}

.container__tercero--imagen{
  @extend .imagen_fondo;
  background-image: url("../img/banner/builder.svg");
}
  
.container__cuarto--imagen{
  @extend .imagen_fondo;
  background-image: url("../img/banner/analyze.svg");
}

/* OTHER SECTION */

.other__section{
  margin-top: 140px;
}

.text__container{
  padding: 10px 75px;
  text-align: center;
}

.text__container__tittle{
  @extend .text__tittle;
  color: #fff;
  font-size: 2em;
}

.text__container__lead{
  @extend .text__lead;
  color: #fff;
  text-align: center;
}

/* SIGN UP SECTION */

.signup__container{
  padding: 30px 0px;
  margin-top: 140px;
  background-color: rgb(241, 239, 237);
  border-radius: 9px;
}

.signup__container__input{
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
  display: inline-block;
  &:hover{
    border: 1px solid #007bff;
  }
}

.signup__container__button{
  margin-left: 20px;
  background-color: #53a6fa;
  padding:            10px 25px;
  border:             2px solid rgba(255,255,255,.85);
  color:            #fff;
  font-size:          13px;
  font-weight:        600;
  text-transform:     uppercase;
  transition:         .2s ease-in;
  &:hover{
    background-color: #007bff;
  }
}