extends ../templates/layout.pug
include ../templates/mixins/header-nav-bs4
block vars
  -var title = "Inicio | Web Boilerplate"
  -var description = "Web Boilerplate"
block header
  +navbar('iniciar')
  section
  .main_content
    .container.contenido
      .row  
        .col-md-6.columna
          h1.titulo Natural Language Processing in the Browser
          p.parrafo No more writing complex Python/R code or mastering various packages to get high-quality information from text. Textalytic handles pre-processing, analyzing, and visualization in an easy to use web interface for free.
          a(href="").boton How It Works
        .col-md-6.columna_img

block content
  .container

block footer
  //- include ../templates/partials/footer.pug    