extends ../templates/layout.pug
include ../templates/mixins/header-nav-bs4
block vars
  -var title = "Inicio | Web Boilerplate"
  -var description = "Web Boilerplate"
block header
  +navbar('iniciar')

block content
  .container
    h1 Index

block footer
  include ../templates/partials/footer.pug    