extends ../templates/layout.pug
include ../templates/mixins/header-nav-bs4
include ../templates/mixins/card
include ../templates/mixins/list__elements

block vars
  -var title = "Inicio | Web Boilerplate"
  -var description = "Web Boilerplate"

block header
  +navbar('iniciar')
  

block content
  section
    .container.content__container
      .row  
        .col-md-6.content__container__col
          h1.main__tittle Natural Language Processing in the Browser
          p.main__lead No more writing complex Python/R code or mastering various packages to get high-quality information from text. Textalytic handles pre-processing, analyzing, and visualization in an easy to use web interface for free.
          a(href="").col--button How It Works
        .col-md-6.content__container__col-img

    .container.container__text    
      .row.d-flex.justify-content-center
        .col-md-12.preamble
          h3.preamble__tittle Textalytic provides a fully featured text analysis platform!
          p.preamble__lead Text Analysis is a complex and specialized task. Textalytic makes it super simple to extract insight from textual content.

        each card in cards
          +card(card.url, card.tittle, card.lead)

  section.seccion
    .container.container__tercero
      .row.d-flex
        .col-md-6
          .container__tercero__text.text-left
            h3.text__tittle Corpus Builder
            p.text__lead Our corpus builder includes powerful editing features such as removing blank lines, stop words, punctuation, and more.
          ul.tour__list.list-unstyled
            each list in lists
              +list(list.element)
        .col-md-6.container__tercero--imagen

        .col-md-6.container__cuarto--imagen
        .col-md-6
          .container__cuarto__text.text-left
            h3.text__tittle Analyze Multiple Corpora
            p.text__lead Create custom corpora lists to analyze multiple corpora at scale.
          ul.tour__list.list-unstyled
            each list in lists2
              +list(list.element)

  section.other__section
    .container
      .text__container
        h3.text__container__tittle Choke Full of NLP Features
        p.text__container__lead Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quae est optio dolorem tenetur adipisci facere eum iste debitis. Magni perferendis labore aperiam rem delectus, consequuntur voluptatibus vel doloremque? Velit!


  section
    .container.d-flex.justify-content-center.signup__container
      .row
        .col-md-12.d-flex.justify-content-between
          input(type="text" name="name" placeholder="Name").form-control.signup__container__input
          input(type="text" name="email" placeholder="Email").form-control.signup__container__input
          input(type="text" name="password" placeholder="Pasword").form-control.signup__container__input
          button(type="submit").main-content__form.btn.btn--blue.btn-md.signup__container__button Free Sign Up


block footer
  include ../templates/partials/footer.pug    