footer {
  margin-top: 150px;
}

.footer__colum1{
  text-align: start;
}

.footer_copirights{
  font-size: 15px;
  color: rgba(255,255,255,.8);
  
}

.footer__colum2{
  text-align: center;
}

.footer__colum3{
  text-align: end;
}

.footer_link{
  font-size: 15px;
  color: rgba(255,255,255,.8);
  transition:         .2s ease-in;
  &:hover{
    text-decoration: none;
    color: #3ecf8e;
  }
}

.footer__icons{
  @extend .footer_link;
}