footer {
  margin-top: 50px;
  margin-bottom: 10px;
}

.footer__colum1,
.footer__colum2,
.footer__colum3
{
  text-align: center;
}

.footer_copirights{
  margin-bottom: 0;
  font-size: 15px;
  color: rgba(255,255,255,.8);
  
}

.footer_link{
  font-size: 15px;
  color: rgba(255,255,255,.8);
  transition:         .2s ease-in;
  &:hover{
    text-decoration: none;
    color: #3ecf8e;
  }
}

.footer__icons{
  @extend .footer_link;
}