mixin navbar(activePage="inicio")
  nav.navbar.navbar-custom.navbar-expand-lg.navbar-light.justify-content-center
    .container.contenedor
      a.navbar-brand(href='#')
        img.d-inline-block.align-top(src='https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg', alt='')
        |     Textalytic

      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item
            a.nav-link(href='#') Features
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Use Cases
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Text Analisis
              a.dropdown-item(href='#') Relation Extraction
              a.dropdown-item(href='#') Event Timelines
              a.dropdown-item(href='#') Machine Learning Features
              a.dropdown-item(href='#') Social Media Analisis
        ul.navbar-nav
          li.nav-item
            a.nav-link.rounded.custom Log In
        ul.navbar-nav.rounded
          li.nav-item
            a(href="#").nav-link.rounded.custom Sing In 