// -----------------------------------------------------------------------------
// BASE, FONTS, TYPOGRAPHY, HELPERS
// -----------------------------------------------------------------------------


///////////////
// HELPERS  //

// COLORS HELPERS [COLOR, BACKGROUND]
@each $key, $value in $colors {
  .#{$key}-color { color: $value; }
  .#{$key}-bg { background-color: $value; }
}

// DIFERENTS SIZES MARGINS & PADDINGS In ALL DIRECTIONS
@each $key, $value in $pm-sizes {
  .margin-#{$key} { margin: $value; }
  .padding-#{$key} { padding: $value; }
  @each $coord in $coords {
    .margin-#{$coord}-#{$key} { margin-#{$coord}: $value; }
    .padding-#{$coord}-#{$key} { padding-#{$coord}: $value; }
  }
  .margin-v-#{$key} { @include v-margin($value) }
  .padding-v-#{$key} { @include v-padding($value) }
}

.margin-left-auto {  margin-left: auto; }
.margin-right-auto { margin-right: auto; }

.text-justify { text-align: justify; }

.light  { font-weight: 300;}
.normal { font-weight: 500;}
.bold   { font-weight: 700;}
.italic { font-style: italic; }
.relative { position: relative; }

.clearfix {
  &:after {
    clear:   both;
    content: "";
    display: table;
  }
}
// HELPERS  //
/////////////